@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body, h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

body {
  font-family: "Raleway";
  background-color: rgba(223, 223, 223, 0.18);
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.wrap {
  max-width: 1245px;
  margin: 0 auto;
}
@media (max-width: 1245px) {
  .wrap {
    padding: 0 24px;
  }
}

header {
  color: #FFF;
  height: 821px;
  background: #000 url("../img/picture1.png") no-repeat center/cover;
  margin-bottom: 53px;
}
@media (max-width: 1263px) {
  header {
    padding: 0 24px;
  }
}

nav {
  display: flex;
  align-items: center;
  max-width: 1302px;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 855px) {
  nav {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  nav {
    flex-direction: row;
  }
}

.logo {
  width: 289px;
  padding-top: 37px;
}
@media (max-width: 1262px) {
  .logo {
    width: 240px;
  }
}
@media (max-width: 997px) {
  .logo {
    width: 200px;
  }
}
@media (max-width: 877px) {
  .logo {
    width: 180px;
  }
}
.logo__img {
  width: 100%;
}

.menu {
  margin-top: 46px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  background-color: #000;
  padding: 0px 19px;
}
@media (max-width: 1119px) {
  .menu {
    font-size: 14px;
  }
}
@media (max-width: 934px) {
  .menu {
    font-size: 12px;
  }
}
@media (max-width: 675px) {
  .menu {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .menu {
    display: none;
  }
}
.menu__text {
  transition: 0.2s;
  padding: 14px 32px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
@media (max-width: 1262px) {
  .menu__text {
    padding: 14px 24px;
  }
}
@media (max-width: 1143px) {
  .menu__text {
    padding: 12px 22px;
  }
}
@media (max-width: 997px) {
  .menu__text {
    padding: 11px 20px;
  }
}
.menu__text:hover {
  border-bottom: 2px solid #ffffff;
}

.hamburger {
  width: 37px;
  cursor: pointer;
  padding-top: 20px;
  display: none;
}
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
}
.hamburger__line {
  height: 2px;
  background-color: #fff;
  margin-bottom: 8px;
}

.frame {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
.frame .frame__img {
  position: absolute;
  right: 80px;
  width: 873px;
  margin-top: 35px;
}
@media (max-width: 1000px) {
  .frame .frame__img {
    display: none;
  }
}
.frame__small {
  margin-top: 104px;
  max-width: 743px;
  background-color: #000;
  position: absolute;
  z-index: 5;
  padding: 67px 92px;
}
@media (max-width: 600px) {
  .frame__small {
    padding: 0;
  }
}
@media (max-width: 786px) {
  .frame__small {
    width: 700px;
  }
}
@media (max-width: 743px) {
  .frame__small {
    width: 650px;
  }
}
@media (max-width: 692px) {
  .frame__small {
    width: 600px;
  }
}
@media (max-width: 645px) {
  .frame__small {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .frame__small {
    width: 400px;
  }
}
@media (max-width: 442px) {
  .frame__small {
    width: 350px;
  }
}
@media (max-width: 600px) {
  .frame__small {
    background: none;
  }
}
.frame__small .frame__title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding-bottom: 9px;
}
.frame__small .frame__title .frame__text {
  color: #9C9C9C;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-right: 11px;
}
@media (max-width: 843px) {
  .frame__small .frame__title .frame__text {
    font-size: 12px;
  }
}
.frame__small .frame__title .frame__line {
  width: 82px;
  height: 0.4px;
  background: #9C9C9C;
}
.frame__small .frame__head {
  color: #FFF;
  font-weight: 400;
  font-size: 3.1rem;
  text-transform: uppercase;
}
@media (max-width: 847px) {
  .frame__small .frame__head {
    font-size: 45px;
  }
}
@media (max-width: 692px) {
  .frame__small .frame__head {
    font-size: 40px;
  }
}
@media (max-width: 645px) {
  .frame__small .frame__head {
    font-size: 37px;
  }
}
@media (max-width: 600px) {
  .frame__small .frame__head {
    margin-bottom: 47px;
  }
}
.frame__small .f_color {
  color: #28553F;
  text-transform: uppercase;
}
.frame__small .btm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
}
@media (max-width: 600px) {
  .frame__small .btm {
    flex-direction: column;
    align-items: center;
  }
}
.frame__small .btm .btm__link {
  width: 288px;
  height: 68px;
  background-color: #28553F;
  margin-right: 23px;
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link {
    height: 51px;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link {
    margin-bottom: 10px;
  }
}
.frame__small .btm .btm__link .btm__text {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 25px 0 23px;
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link .btm__text {
    padding: 18px 91px 18px;
  }
}
@media (max-width: 843px) {
  .frame__small .btm .btm__link .btm__text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__link .btm__text {
    font-size: 12px;
  }
}
.frame__small .btm .btm__contact {
  width: 288px;
  height: 68px;
  background-color: #141414;
}
@media (max-width: 600px) {
  .frame__small .btm .btm__contact {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__contact {
    height: 51px;
  }
}
.frame__small .btm .btm__contact .contact__text {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 25px 0 23px;
}
@media (max-width: 600px) {
  .frame__small .btm .btm__contact .contact__text {
    padding: 18px 91px 18px;
  }
}
@media (max-width: 843px) {
  .frame__small .btm .btm__contact .contact__text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .frame__small .btm .btm__contact .contact__text {
    font-size: 12px;
  }
}

.title {
  color: #282A30;
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .title {
    padding-left: 23px;
  }
}
.title__text {
  color: #28553f;
}
.title__line {
  width: 121px;
  height: 1px;
  background: #28553F;
  margin-bottom: 9px;
}

.text__arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #282A30;
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 66px;
  transition: 0.3s;
  cursor: pointer;
}
.text__arrow .space {
  margin-left: 10px;
}
.text__arrow:hover {
  color: green;
}

.product {
  border-radius: 4px;
  height: 341px;
  margin-right: 11px;
  box-shadow: 0px 4px 47px -2px rgba(0, 0, 0, 0.25);
  background: center/cover no-repeat;
  padding-top: 262px;
}
.product__row {
  display: flex;
}
@media (max-width: 860px) {
  .product__row {
    flex-direction: column;
    align-items: center;
  }
}
.product_one {
  background-image: url("../img/picture2.png");
  width: 492px;
}
@media (max-width: 860px) {
  .product_one {
    width: 80%;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .product_one {
    width: 100%;
  }
}
.product_two {
  width: 743px;
  background-image: url("../img/picture3.png");
  margin-bottom: 11px;
}
@media (max-width: 860px) {
  .product_two {
    width: 80%;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .product_two {
    width: 100%;
  }
}
.product_three {
  background-image: url("../img/picture4.jpg");
  width: 743px;
  margin-bottom: 11px;
}
@media (max-width: 860px) {
  .product_three {
    width: 80%;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .product_three {
    width: 100%;
  }
}
.product_four {
  background-image: url("../img/picture5.png");
  width: 492px;
}
@media (max-width: 860px) {
  .product_four {
    width: 80%;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .product_four {
    width: 100%;
  }
}
.product__gradient {
  max-width: 470px;
  height: 58px;
  background: var(--3, linear-gradient(180deg, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0.55) 100%));
}
.product__gradient .gradient__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 500px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 11px;
}

.right_gradient {
  display: flex;
  justify-content: flex-end;
}

.gradient__right {
  width: 470px;
}
@media (max-width: 860px) {
  .gradient__right {
    width: 100%;
  }
}

.stocks {
  margin-top: 112px;
  color: #fff;
  background: #000 url("../img/picture1.png") no-repeat center/cover;
  margin-bottom: 60px;
}
.stocks .stock__small {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 347px;
}
.stocks .stock__small .block__title {
  max-width: 707px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.866) 0%, rgba(0, 0, 0, 0.24) 100%);
}
.stocks .stock__small .block__title .blocks {
  padding: 41px 17px 149px 103px;
}
.stocks .stock__small .block__title .blocks .block__line {
  width: 120.01px;
  height: 1px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stocks .stock__small .block__title .blocks .stock__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.stocks .stock__small .block__title .blocks .s_color {
  color: var(--unnamed, #28553F);
  font-family: Raleway;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.stocks .stock__small .block__title .blocks .stock__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 34px;
}
.stocks .stock__small .block__title .blocks .stock__btm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
  width: 238px;
  height: 60px;
  background: var(--unnamed, #28553F);
}
.stocks .stock__small .block__title .blocks .stock__btm .stock__link {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.stocks .stock__small .stock {
  max-width: 601px;
  display: flex;
  justify-content: center;
  margin: 102px 101px 96px 738px;
}
.stocks .stock__small .stock .stock__block {
  display: inline-flex;
  align-items: flex-start;
  gap: 37px;
}
.stocks .stock__small .stock .stock__block .stock__content {
  width: 282px;
  box-shadow: 0px 4px 47px -2px rgba(0, 0, 0, 0.25);
}
.stocks .stock__small .stock .stock__block .stock__content .content {
  border: 1px solid #FFF;
  opacity: 0.8199999928;
  background: rgba(255, 255, 255, 0.96);
}
.stocks .stock__small .stock .stock__block .stock__content .content__name {
  color: var(--unnamed, #28553F);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.idea {
  margin-bottom: 150px;
  margin-top: 68px;
  padding: 0;
}
.idea__img {
  margin-right: 20px;
}
.idea__left {
  display: flex;
  margin-bottom: 19px;
}
.idea__right {
  display: flex;
}

.main {
  display: flex;
  margin-top: 63px;
}
.main .leftside {
  margin-right: 20px;
}
@media (max-width: 1260px) {
  .main .leftside {
    align-items: center;
  }
}
@media (max-width: 700px) {
  .main .leftside {
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .main .idea__left {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .main .idea__left {
    margin-bottom: 0;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .main .idea__right {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .idea__img {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .idea__img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .idea__img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .left__img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .idea__photo {
    width: 100%;
  }
}

.link {
  margin-top: 66px;
}

.info {
  display: flex;
  justify-content: end;
}
@media (max-width: 600px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
.info__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #28553F;
  font-size: 1.12rem;
  color: white;
  width: 405px;
  height: 52px;
  transition: 0.3s;
}
.info__link:hover {
  background-color: #1b3d2d;
}
@media (max-width: 600px) {
  .info__link {
    width: 100%;
  }
}
.info__text {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-right: 10px;
}

.module {
  color: #fff;
  background: linear-gradient(87deg, rgba(0, 0, 0, 0.93) 12.11%, rgba(0, 0, 0, 0.7) 59.96%, rgba(255, 255, 255, 0) 100%), url("../img/lastphoto.png") no-repeat center/cover rgba(72, 66, 66, 0.9490196078);
  padding-bottom: 70px;
}
.module__inside {
  padding-top: 70px;
}
.module__text {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .module__text {
    font-size: 1.5rem;
  }
}
.module__text .text__words {
  padding-bottom: 10px;
}
.module__textdown {
  font-family: Raleway;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .module__textdown {
    font-size: 1.5rem;
  }
}

.input {
  width: 240px;
  height: 50px;
  border: 1px solid rgba(243, 243, 243, 0.7);
  background-color: rgba(243, 243, 243, 0);
  margin-right: 20px;
  color: #fff;
  padding-left: 20px;
}
@media (max-width: 600px) {
  .input {
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .input {
    width: 100%;
  }
}
.input::-moz-placeholder {
  color: #fff;
}
.input::placeholder {
  color: #fff;
}
.input .in__one {
  display: flex;
  padding: 16px 154px 15px 20px;
  align-items: center;
}
.input .in__two {
  display: inline-flex;
  padding: 16px 130px 15px 20px;
  align-items: center;
}

.button {
  align-items: center;
  padding: 14px 81px 16px 80px;
  width: 240px;
  color: #000;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .button {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}

.check__text {
  font-family: Raleway;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1000px) {
  .check__text {
    font-size: 0.8rem;
  }
}
.check__text .text__underline {
  text-decoration-line: underline;
  font-family: Raleway;
}

.footer {
  color: #fff;
  background: #000 no-repeat center/cover;
}
.footer .end {
  max-width: 1245px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 32px;
  align-items: center;
}
@media (max-width: 600px) {
  .footer .end {
    flex-direction: row-reverse;
  }
}
.footer .end .logo__footer {
  width: 268px;
  margin-right: 28px;
}
@media (max-width: 600px) {
  .footer .end .logo__footer {
    width: 135px;
  }
}
.footer .end .logo__footer .logo__image {
  width: 100%;
}
.footer .end .menu__footer {
  display: flex;
  width: 132px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .footer .end .menu__footer {
    width: 122px;
  }
}
@media (max-width: 745px) {
  .footer .end .menu__footer {
    display: none;
  }
}
.footer .end .menu__footer .menu__head {
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .end .menu__footer .menu__links {
  color: var(--white, rgba(255, 255, 255, 0.4470588235));
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer .end .menu__footer .menu__links:hover {
  color: #fff;
}
.footer .end .catalog {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .footer .end .catalog {
    width: 97px;
  }
}
@media (max-width: 745px) {
  .footer .end .catalog {
    display: none;
  }
}
.footer .end .catalog__head {
  color: var(--white, #FFF);
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .end .catalog__links {
  color: rgba(255, 255, 255, 0.4470588235);
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer .end .catalog__links:hover {
  color: #fff;
}
.footer .end .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 600px) {
  .footer .end .contacts {
    margin-left: 24px;
  }
}
.footer .end .contacts .contacts__head {
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .end .contacts .contacts__links {
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer .end .contacts .contacts__links .color {
  color: rgba(255, 255, 255, 0.4470588235);
}
.footer .end .contacts .contacts__links .color:hover {
  color: #fff;
}
.footer .end .contacts .social {
  display: flex;
  padding-top: 24px;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}
.footer .end .contacts .social img {
  display: block;
}
.footer .end .contacts .social .instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
}
.footer .end .contacts .social .instagram:hover {
  background-color: rgba(255, 255, 255, 0.23);
}
.footer .end .contacts .social .instagram .inst {
  width: 16px;
  height: 16px;
}
.footer .end .contacts .social .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
}
.footer .end .contacts .social .twitter:hover {
  background-color: rgba(255, 255, 255, 0.23);
}
.footer .end .contacts .social .twitter .twit {
  width: 16px;
  height: 16px;
}
.footer .end .contacts .social .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
}
.footer .end .contacts .social .youtube:hover {
  background-color: rgba(255, 255, 255, 0.23);
}
.footer .end .contacts .social .youtube .yout {
  width: 16px;
  height: 16px;
}
.footer .divline {
  height: 1px;
  opacity: 0.150000006;
  background: #FFF;
}
.footer .div__text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */